html {
  font-family: sans-serif;
}

html, body, header, section, footer, div, ul, ol, li, img, a, span, em, del, legend, center, strong, var, fieldset, form, label, dl, dt, dd, cite, input, hr, time, mark, code, figcaption, figure, textarea, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
}

html, body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-overflow-scrolling: touch;
  background-color: #f7f7f7;
}

body {
  font-size: .32rem;
  color: #111;
}

nav, article, aside, details, main, header, footer, section, fieldset, figcaption, figure {
  display: block;
}

img, a, button, em, del, strong, var, label, cite, small, time, mark, code, textarea {
  display: inline-block;
}

header, section, footer {
  position: relative;
}

ol, ul {
  list-style: none;
}

input, button, textarea {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-appearance:none;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

span {
  display: inline-block;
}

a:active, a:hover {
  outline: 0;
  color: #111;
}

a, a:visited {
  text-decoration: none;
  color: #111;
}

label, .wordWrap {
  word-wrap: break-word;
  word-break: break-all;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

button {
  outline: none;
}
